body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    background-color: lightcyan;
}
#site_wrap {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr repeat(4, minmax(0,272px)) 1fr;
    grid-gap: 0px;
    grid-template-rows: 104px 205px 373px 373px 1fr ;
    grid-template-areas: "header header header header header header"
                        " featured-header featured-header featured-header featured-header featured-header featured-header "
                        ". featured_main featured_main featured_main featured_profile ."
                        ". content content content content ."
                        " footer footer footer footer footer footer "
    ;
}
.header {
    background-color: lightblue;   
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}
.header .logo {
    width: 33%;
}
.header .Nav  a{
   text-decoration: none; 
   border: 2px solid blue;
   border-radius: 50em;
   padding: 15px 30px ;
   margin: 0 8px;
   text-transform: uppercase;
   font-weight: bold;
}
a:hover {
    background-color: blue;
    color: lightblue;
}
.header .Nav {
    list-style: none;
    padding: 0;
    display: flex;
}
.featured_header {
    background-image:url('images/Trees.jfif');   
    grid-area: featured-header;
}
.featured_main {
    background-color: lightblue; 
    grid-area: featured_main; 
    display: flex;
    text-align: center;
}
.featured_profile {
    grid-area: featured_profile;
}
.content{
    grid-area: content;
    height: 400px;
    background-color: lightblue;
}
.footer {
    background-color: lightblue;   
    grid-area: footer;
    height: 75px;
}
@media screen and (max-width:480px) {
    .header{
        background-color: yellow;
    }
}
.footer .contact .buttons {
    text-decoration: none; 
    border: 2px solid blue;
    border-radius: 50em;
    color: blue;
    padding: 15px 30px ;
    margin: 0 8px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.footer .contact {
    list-style: none;
    padding: 0;
    display: flex;
}
.content {
    display: flex;
}
.webfinal {
    width: 300px;
    display: flex; 
    align-items: stretch;
}
p {
    font-size: large;
    text-align: center;
    margin: 10px 10px 10px 15px;
    display: flex;
}
.tablecode {
    margin: 15px 15px 15px 15px;
}